<div id="page" class="container">
    <div id="header">
        <div id="logo">
            <img src="{{ url_for("static",filename='/images/pic.png') }}" alt="" />
            <h1><a href="#">Love-Coding</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="{{ url_for("index") }}" accesskey="1" title="">Home</a></li>
                <li><a href="#" accesskey="2" title="">Article</a></li>
                <li><a href="#" accesskey="3" title="">About</a></li>
                <li><a href="#" accesskey="5" title="">Contact</a></li>
            </ul>
        </div>
    </div>
